In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("googleplaystore.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
data.drop_duplicates(inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10358 entries, 0 to 10840
Data columns (total 13 columns):
App               10358 non-null object
Category          10358 non-null object
Rating            8893 non-null float64
Reviews           10358 non-null object
Size              10358 non-null object
Installs          10358 non-null object
Type              10357 non-null object
Price             10358 non-null object
Content Rating    10357 non-null object
Genres            10358 non-null object
Last Updated      10358 non-null object
Current Ver       10350 non-null object
Android Ver       10355 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [6]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [7]:
data["Genres"].value_counts().count()

120

In [8]:
def function1(per):
    try:
        return float(per)
    except:
        try:
            per1 = per.split("M")
            return float(per1[0])*1000000
        except:
            return per

l = list(map(function1,data["Reviews"].values))

In [10]:
l = list(map(int,l))

In [11]:
len(l)

10358

In [12]:
data["Reviews"] = pd.Series(l)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10358 entries, 0 to 10840
Data columns (total 13 columns):
App               10358 non-null object
Category          10358 non-null object
Rating            8893 non-null float64
Reviews           9876 non-null float64
Size              10358 non-null object
Installs          10358 non-null object
Type              10357 non-null object
Price             10358 non-null object
Content Rating    10357 non-null object
Genres            10358 non-null object
Last Updated      10358 non-null object
Current Ver       10350 non-null object
Android Ver       10355 non-null object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [14]:
def function2(per):
    
    try:
        per3=""
        per1 = per.split("+")[0]
        try:
            per2 = per1.split(",")
            for i in range(len(per2)):
                per3 +=per2[i]
            return float(per3)
        except:
            return float(per1)
    except:
        try:
            return float(per)
        except:
            
            return 0

In [15]:
function2("1000,,,,0,,,0000,,,,,+")

100000000.0

In [16]:
function2("1,1,1,1")
function2("1,1,1,")

111.0

In [17]:
function2("1,A,1,1")

0

''''l1 = data["Installs"].values

"10,000+".split("+")[0]

y='10,000'.split(",")

y[0]+y[1].split(",")
''''

In [18]:

l1 = list(map(function2,data["Installs"].values))

In [19]:
l1[-1]

10000000.0

In [20]:
data.tail(1)["Installs"]

10840    10,000,000+
Name: Installs, dtype: object

In [21]:
data["Installs"] = pd.Series(l1)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10358 entries, 0 to 10840
Data columns (total 13 columns):
App               10358 non-null object
Category          10358 non-null object
Rating            8893 non-null float64
Reviews           9876 non-null float64
Size              10358 non-null object
Installs          9876 non-null float64
Type              10357 non-null object
Price             10358 non-null object
Content Rating    10357 non-null object
Genres            10358 non-null object
Last Updated      10358 non-null object
Current Ver       10350 non-null object
Android Ver       10355 non-null object
dtypes: float64(3), object(10)
memory usage: 1.1+ MB

In [23]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000.0,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,500000.0,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.7M,5000000.0,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25M,50000000.0,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.8M,100000.0,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

l2=list(map(lambda x:float(x.split("M")[0]),data["Size"]))
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-187-d0e34538d405> in <module>
----> 1 l2=list(map(lambda x:float(x.split("M")[0]),data["Size"]))

<ipython-input-187-d0e34538d405> in <lambda>(x)
----> 1 l2=list(map(lambda x:float(x.split("M")[0]),data["Size"]))

ValueError: could not convert string to float: 'Varies with device'

In [24]:
indx = data[data["Size"]=="Varies with device"].index

In [25]:
dropeddata = data[data["Size"]=="Varies with device"]

In [26]:
data.drop(indx,inplace=True)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8832 entries, 0 to 10840
Data columns (total 13 columns):
App               8832 non-null object
Category          8832 non-null object
Rating            7425 non-null float64
Reviews           8372 non-null float64
Size              8832 non-null object
Installs          8372 non-null float64
Type              8832 non-null object
Price             8832 non-null object
Content Rating    8831 non-null object
Genres            8832 non-null object
Last Updated      8832 non-null object
Current Ver       8824 non-null object
Android Ver       8829 non-null object
dtypes: float64(3), object(10)
memory usage: 966.0+ KB

l2=list(map(lambda x:float(x.split("M")[0]),data["Size"]))
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-207-d0e34538d405> in <module>
----> 1 l2=list(map(lambda x:float(x.split("M")[0]),data["Size"]))

<ipython-input-207-d0e34538d405> in <lambda>(x)
----> 1 l2=list(map(lambda x:float(x.split("M")[0]),data["Size"]))

ValueError: could not convert string to float: '201k'

In [28]:
def function3(per):
    try:
        return float(per.split("M")[0])*1000
    except:
        
        try:
            return float(per.split("k")[0])
        except:
            if per == "1,000+":
                return 1000

In [29]:
float('10.0M'.split("M")[0])

10.0

In [30]:
function3("1000k")

1000.0

l2 = list(map(function3,data["Size"].values))
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-218-68db207a7863> in function3(per)
      2     try:
----> 3         return float(per.split("M")[0])*1000
      4     except:

ValueError: could not convert string to float: '1,000+'

During handling of the above exception, another exception occurred:

ValueError                                Traceback (most recent call last)
<ipython-input-222-3d4c37d34ae8> in <module>
----> 1 l2 = list(map(function3,data["Size"].values))

<ipython-input-218-68db207a7863> in function3(per)
      3         return float(per.split("M")[0])*1000
      4     except:
----> 5         return float(per.split("k")[0])
      6 

ValueError: could not convert string to float: '1,000+'

In [31]:
data[data["Size"]=='1,000+']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,NaN,"1,000+",NaN,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

#data[data["Size"]=='1,000+']='1000k'
<----above line of code made every column to string type

In [32]:
l2 = list(map(function3,data["Size"].values))

In [33]:
l2[-2]

9500.0

In [34]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [35]:
data.columns=['App', 'Category', 'Rating', 'Reviews', 'Size_in_kb', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver']

In [36]:
data["Size"] = pd.Series(l2)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8832 entries, 0 to 10840
Data columns (total 14 columns):
App               8832 non-null object
Category          8832 non-null object
Rating            7425 non-null float64
Reviews           8372 non-null float64
Size_in_kb        8832 non-null object
Installs          8372 non-null float64
Type              8832 non-null object
Price             8832 non-null object
Content Rating    8831 non-null object
Genres            8832 non-null object
Last Updated      8832 non-null object
Current Ver       8824 non-null object
Android Ver       8829 non-null object
Size              6973 non-null float64
dtypes: float64(4), object(10)
memory usage: 1.0+ MB

In [38]:
data["Price"].value_counts()[:10]

0        8140
$0.99     143
$2.99     111
$1.99      66
$4.99      63
$3.99      47
$1.49      43
$5.99      23
$9.99      19
$2.49      19
Name: Price, dtype: int64

In [39]:
"""l3 = list(map(lambda x : return (float(x.split("$")[1])*69.44),["$100"])"""

'l3 = list(map(lambda x : return (float(x.split("$")[1])*69.44),["$100"])'

In [40]:
def function4(per):
    try:
        return float(per.split("$")[1])*69.44
    except:
        try:
            return float(per)*69.44
        except:
            if per=="Everyone":
                return 0

In [41]:
l3=[]

In [42]:
l3 = list(map(function4,data["Price"].values))

In [43]:
l3[-100]

0.0

In [44]:
data["Price"]=pd.Series(l3)

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8832 entries, 0 to 10840
Data columns (total 14 columns):
App               8832 non-null object
Category          8832 non-null object
Rating            7425 non-null float64
Reviews           8372 non-null float64
Size_in_kb        8832 non-null object
Installs          8372 non-null float64
Type              8832 non-null object
Price             6973 non-null float64
Content Rating    8831 non-null object
Genres            8832 non-null object
Last Updated      8832 non-null object
Current Ver       8824 non-null object
Android Ver       8829 non-null object
Size              6973 non-null float64
dtypes: float64(5), object(9)
memory usage: 1.0+ MB

In [46]:
data.to_csv("day1.csv")